<html>
    <head>
        <title>Portal de notícias</title>

        <link rel="stylesheet" href="../public/style.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0">
    </head>
    <body>
        
        <header>
            <div class="center">
                <div class="logo">
                    <a href="/"><h2>Fiquei <b>Sabendo</b>!</h2></a>
                </div>
                <div class="form-busca">
                    <form action="/">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Busca..." name="busca" />
                    </form>
                </div>
            </div>
        </header>