<%- include('partials/header.html') %>

        <section class="noticia-destaque">
            <div class="center">
                <div class="img-destaque">
                    <div class="overlay-destaque"></div>
                    <div class="nome-autor-destaque">
                        <h3><%= posts[0].autor %></h3>
                    </div>
                    <div class="title-destaque-descricao">
                        <a href="<%= posts[0].slug %>"><h2><%= posts[0].titulo %></h2></a>
                        <%- posts[0].descricaoCurta %>...
                    </div>
                    <img src="<%= posts[0].imagem %>">
                </div>
            </div>
        </section>

        <section class="outras-noticias">
            <div class="title-outras-noticias">
                <h2>Últimas notícias</h2>
                </br>
                <div class="center">
                    <div class="ultimas">

                        <% for(let i=0; i < posts.length; i++){ %>
                            <div class="box-ultima-single">
                                <img src="<%= posts[i].imagem %>"">
                                <div class="conteudo-noticia-single">
                                    <h3><%= posts[i].categoria %></h3>
                                    <h2><%= posts[i].titulo %></h2>
                                    <p><%- posts[i].descricaoCurta %>...</p>
                                    <a href="<%= posts[i].slug %>">Saiba mais...</a>
                                </div>
                            </div>
                        <% } %>

                        
                       
                    </div>
                    <div class="mais-lidas">
                        <h3>Mais lidas</h3>
                        <div class="mais-lidas-noticias">
                            <% for(let i=0; i < postsTop.length; i++){ %>
                                <div class="mais-lida-noticia-single">
                                    <img src="<%= postsTop[i].imagem %>">
                                    <div class="texto-mais-lida-single">
                                        <h4><%= postsTop[i].titulo %></h4>
                                        <p><%- postsTop[i].descricaoCurta %>...</p>
                                        <a href="<%= postsTop[i].slug %>">Saiba mais...</a>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/footer.html') %>

        <script src="https://kit.fontawesome.com/aa9f8f9e66.js" crossorigin="anonymous"></script>
    </body>
</html>